.docItemContainer {
  max-width: 90ch !important;
  margin: 0 auto;
}

.docItemContainer header + *,
.docItemContainer article > *:first-child {
  margin-top: 0;
}

@media (min-width: 997px) {
  .docItemCol {
    max-width: 90ch !important;
    padding: 0 4rem;
  }
}