---
title: Certificate Verification
---

:::note Section Goal
:::
