.admonition {
  margin-bottom: 1em;
}

.admonitionHeading {
  font: var(--ifm-heading-font-weight) var(--ifm-h5-font-size) /
    var(--ifm-heading-line-height) var(--ifm-heading-font-family);
  text-transform: uppercase;
  margin-bottom: 0.3rem;
}

.admonitionHeading code {
  text-transform: none;
}

.admonitionIcon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.4em;
}

.admonitionIcon svg {
  display: inline-block;
  height: 1.25rem;
  width: 1.25rem;
  stroke-color: var(--ifm-alert-foreground-color);
}

.admonitionContent > :last-child {
  margin-bottom: 0;
}

/* Goal */
.admonition-goal {
  padding: 0;
  background: var(--ifm-color-warning-contrast-background);
  overflow: hidden;
}

.admonition-goal .admonitionHeading {
  padding: 0.75rem var(--ifm-alert-padding-horizontal);
  background: var(--ifm-color-warning-dark);
  line-height: 1;
  color: var(--ifm-alert-foreground-color);
}

html[data-theme="dark"] .admonition-goal .admonitionHeading {
  color: var(--ifm-background-color);
}

.admonition-goal .admonitionContent {
  padding: var(--ifm-alert-padding-vertical) var(--ifm-alert-padding-horizontal);
}
