/* Added Tailwind - note: preflight is disabled in otder the Docusaurus global styles to be applied */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Plus+Jakarta+Sans:wght@500;600&display=swap");

@tailwind base;

html {
  scroll-behavior: smooth;
}

@tailwind components;

:root {
  --ifm-font-color-base: #1c1b1f;
  --ifm-color-primary: #008da5;
  --ifm-color-secondary: #00f6ff;

  --ifm-font-family-base: "Inter", sans-serif;
  --ifm-heading-font-family: "Inter", sans-serif;
  --ifm-font-weight-semibold: 600;
  --ifm-heading-font-weight: var(--ifm-font-weight-semibold);

  --ifm-menu-color-background-hover: var(--ifm-card-background-color);
  --ifm-menu-color-background-active: var(--ifm-card-background-color);
  --ifm-menu-color-active: var(--ifm-color-primary);

  --ifm-menu-link-padding-vertical: 0.6rem;
  --ifm-menu-link-padding-horizontal: 1rem;

  --ifm-card-background-color: #f0f7f9;
  --ifm-card-border-radius: 0.25rem;

  --ifm-footer-background-color: #1c1b1f;
  --ifm-navbar-background-color: #fff;

  --ifm-dropdown-hover-background-color: #00f6ff;

  --ifm-footer-color: #fff;

  --ifm-h1-font-size: 2rem;
  --ifm-h2-font-size: 1.5rem;
  --ifm-h3-font-size: 1.25rem;
  --ifm-h4-font-size: 1rem;
  --ifm-h5-font-size: 0.875rem;
  --ifm-h6-font-size: 0.85rem;

  --ifm-breadcrumb-item-background-active: transparent;
  --ifm-breadcrumb-color-active: var(--ifm-font-color-base);

  --ifm-leading: calc(1.75 * 1rem);
  --ifm-color-warning-dark: #ffc700;

  --ifm-tabs-padding-vertical: 0.75rem;

  --ifm-navbar-link-hover-color: var(--ifm-font-color-base);
}

/* Dark Theme var */
html[data-theme="dark"] {
  --ifm-font-color-base: #ffffff;
  --ifm-color-primary: #00f6ff;
  --ifm-color-secondary: #00f6ff;
  --ifm-background-surface-color: #282a36;
  --ifm-background-color: #1c1b1f;

  --ifm-navbar-background-color: #1c1b1f;
  --ifm-navbar-shadow: 0 0 1px 0 #dbdbdb;

  --ifm-card-background-color: var(--ifm-background-surface-color);

  --ifm-menu-color-background-hover: var(--ifm-background-surface-color);
  --ifm-menu-color-background-active: var(--ifm-background-surface-color);

  --ifm-dropdown-hover-background-color: #00f6ff;

  --ifm-color-warning-dark: #ffdc5e;
}

@-ms-viewport {
  width: device-width;
}

/* Breadcrumbs */
.breadcrumbs {
  @apply flex flex-wrap items-center leading-none mb-6;
}

.breadcrumbs__item {
  @apply flex items-center;
}

/* Dropdown link */
.dropdown__link:hover,
.dropdown__link--active {
  color: #1c1b1f;
}

.dropdown__link {
  padding: 0.5rem 1rem;
  border-radius: 0;
  margin: 0;
}

.dropdown__menu {
  padding: 0;
  overflow: hidden;
}

.dropdown > .navbar__link:after {
  border-width: 0.3em 0.3em 0;
  top: 0;
}

/* logo */

@media (min-width: 1280px) {
  .navbar__brand {
    width: calc(var(--doc-sidebar-width) - 2.5rem);
  }
}

/* Markdown */

.markdown,
.markdown > h1,
.markdown > h2,
.markdown > h3,
.markdown > h4,
.markdown > h5,
.markdown > h6 {
  --ifm-h1-font-size: 2rem;
  --ifm-h2-font-size: 1.75rem;
  --ifm-h3-font-size: 1.5rem;
  --ifm-h4-font-size: 1rem;
  --ifm-h5-font-size: 0.875rem;
  --ifm-h6-font-size: 0.85rem;
}

/* Header */

.header-discord-link:hover {
  opacity: 0.6;
}

.header-discord-link::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'%3E%3C/path%3E%3Cpath d='M10.076 11c.6 0 1.086.45 1.075 1 0 .55-.474 1-1.075 1C9.486 13 9 12.55 9 12s.475-1 1.076-1zm3.848 0c.601 0 1.076.45 1.076 1s-.475 1-1.076 1c-.59 0-1.075-.45-1.075-1s.474-1 1.075-1zm4.967-9C20.054 2 21 2.966 21 4.163V23l-2.211-1.995-1.245-1.176-1.317-1.25.546 1.943H5.109C3.946 20.522 3 19.556 3 18.359V4.163C3 2.966 3.946 2 5.109 2H18.89zm-3.97 13.713c2.273-.073 3.148-1.596 3.148-1.596 0-3.381-1.482-6.122-1.482-6.122-1.48-1.133-2.89-1.102-2.89-1.102l-.144.168c1.749.546 2.561 1.334 2.561 1.334a8.263 8.263 0 0 0-3.096-1.008 8.527 8.527 0 0 0-2.077.02c-.062 0-.114.011-.175.021-.36.032-1.235.168-2.335.662-.38.178-.607.305-.607.305s.854-.83 2.705-1.376l-.103-.126s-1.409-.031-2.89 1.103c0 0-1.481 2.74-1.481 6.121 0 0 .864 1.522 3.137 1.596 0 0 .38-.472.69-.871-1.307-.4-1.8-1.24-1.8-1.24s.102.074.287.179c.01.01.02.021.041.031.031.022.062.032.093.053.257.147.514.262.75.357.422.168.926.336 1.513.452a7.06 7.06 0 0 0 2.664.01 6.666 6.666 0 0 0 1.491-.451c.36-.137.761-.337 1.183-.62 0 0-.514.861-1.862 1.25.309.399.68.85.68.85z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat;
}

[data-theme="dark"] .header-discord-link:before {
  background: url("data:image/svg+xml,%0A%3Csvg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='test'%3E%3Cpolygon id='Path' points='0 0 24 0 24 24 0 24'%3E%3C/polygon%3E%3Cpath d='M10.076,11 C10.676,11 11.162,11.45 11.151,12 C11.151,12.55 10.677,13 10.076,13 C9.486,13 9,12.55 9,12 C9,11.45 9.475,11 10.076,11 Z M13.924,11 C14.525,11 15,11.45 15,12 C15,12.55 14.525,13 13.924,13 C13.334,13 12.849,12.55 12.849,12 C12.849,11.45 13.323,11 13.924,11 Z M18.891,2 C20.054,2 21,2.966 21,4.163 L21,23 L18.789,21.005 L17.544,19.829 L16.227,18.579 L16.773,20.522 L5.109,20.522 C3.946,20.522 3,19.556 3,18.359 L3,4.163 C3,2.966 3.946,2 5.109,2 L18.89,2 L18.891,2 Z M14.921,15.713 C17.194,15.64 18.069,14.117 18.069,14.117 C18.069,10.736 16.587,7.995 16.587,7.995 C15.107,6.862 13.697,6.89291655 13.697,6.89291655 L13.553,7.061 C15.302,7.607 16.114,8.395 16.114,8.395 C15.1590681,7.85698797 14.1066401,7.51433698 13.018,7.387 C12.3274384,7.30900379 11.6299316,7.31572027 10.941,7.407 C10.879,7.407 10.827,7.418 10.766,7.428 C10.406,7.46 9.531,7.596 8.431,8.09 C8.051,8.268 7.824,8.395 7.824,8.395 C7.824,8.395 8.678,7.565 10.529,7.019 L10.426,6.89291655 C10.426,6.89291655 9.017,6.862 7.536,7.996 C7.536,7.996 6.055,10.736 6.055,14.117 C6.055,14.117 6.919,15.639 9.192,15.713 C9.192,15.713 9.572,15.241 9.882,14.842 C8.575,14.442 8.082,13.602 8.082,13.602 C8.082,13.602 8.184,13.676 8.369,13.781 C8.379,13.791 8.389,13.802 8.41,13.812 C8.441,13.834 8.472,13.844 8.503,13.865 C8.76,14.012 9.017,14.127 9.253,14.222 C9.675,14.39 10.179,14.558 10.766,14.674 C11.6453192,14.8463601 12.5494116,14.8497538 13.43,14.684 C13.9429175,14.5924525 14.4433333,14.441086 14.921,14.233 C15.281,14.096 15.682,13.896 16.104,13.613 C16.104,13.613 15.59,14.474 14.242,14.863 C14.551,15.262 14.922,15.713 14.922,15.713 L14.921,15.713 Z' id='Shape' fill='%23FFFFFF' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E")
    no-repeat;
}

.header-github-link:hover {
  opacity: 0.6;
}

.header-github-link::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

[data-theme="dark"] .header-github-link:before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

/* Theme card */
.card {
  border: 0 !important;
  box-shadow: none !important;

  @apply transition-transform;
}

.card h2 {
  @apply text-2xl mb-2;
}

.card p {
  @apply text-base;
}

/* Navbar */
.navbar {
  @apply font-serif font-semibold;
}

.navbar__logo {
  height: 2.5rem;
}

.navbar__item--version {
  display: inline-block !important;
  border: 1px solid var(--docusaurus-tag-list-border);
  font-size: 0.875rem;
}

/* Menu */
.menu {
  @apply font-serif overflow-hidden hover:overflow-y-auto;
  scrollbar-width: auto;
}

.menu::-webkit-scrollbar-track {
  background: transparent;
}

.menu__link--sublist {
  @apply font-semibold;
  color: var(--ifm-menu-color);
}
.menu__list-item-collapsible.menu__list-item-collapsible--active {
  color: var(--ifm-menu-color);
  background: transparent !important;
}

/* Theme Menu adjustments */
.menu__caret::before,
.menu__link--sublist-caret::after,
.menu__link--sublist-caret::before {
  background: var(--ifm-menu-link-sublist-icon) 50% / 1.5rem 1.5rem;
}

.menu__list .menu__list {
  @apply text-sm;
}

.menu__link:hover {
  @apply text-primary dark:text-secondary;
}

.menu__list-item:not(:first-child) {
  @apply m-0;
}

/* Theme Footer adjustments */
.footer {
  @apply text-sm;
}

/* Theme Main content */
.main-wrapper {
  @apply flex flex-col;
}

/* Theme Layout Misc */
.docPage_node_modules-\@docusaurus-theme-classic-lib-next-theme-DocPage-Layout-index-module {
  flex: 1;
}

/* Tabs */

/* tab container */
.tabs-container {
  border-radius: var(--ifm-global-radius);
  border: 1px solid var(--ifm-color-emphasis-300);
}

.tab-item-container {
  @apply p-4 sm:p-6 !important;
}

.tabs {
  border-bottom: 1px solid var(--ifm-color-emphasis-300);
}

.tabs-container:has(.tabs--tabs-only),
.tabs-container:has(.tabs--content-only) {
  border: 0;
}

.tabs-container:has(.tabs--tabs-only) .tab-item-container,
.tabs-container:has(.tabs--content-only) .tab-item-container {
  padding: 0;
}

.tabs__item {
  border-width: 0;
}

.tabs__item:hover {
  background-color: transparent;
  color: var(--ifm-color-primary);
}

.tabs--tabs-only {
  justify-content: left;
  border: 0;
  @apply mb-0 text-current;

  --ifm-tabs-color-active: var(--ifm-card-background-color);
  --ifm-tabs-bg-active: var(--ifm-color-gray-900);
  --ifm-tabs-border: var(--ifm-color-gray-900);
}

[data-theme="dark"] .tabs--tabs-only {
  --ifm-tabs-color-active: var(--ifm-color-gray-500);
  --ifm-tabs-bg-active: var(--ifm-card-background-color);
  --ifm-tabs-border: var(--ifm-card-background-color);
}

[class*="bg-"] .tabs--tabs-only {
  --ifm-tabs-color-active: var(--ifm-font-color-base);
  --ifm-tabs-bg-active: var(--ifm-card-background-color);
  --ifm-tabs-border: var(--ifm-card-background-color);
}

[data-theme="dark"] [class*="bg-"] .tabs--tabs-only {
  --ifm-tabs-color-active: var(--ifm-card-background-color);
  --ifm-tabs-bg-active: #fff;
  --ifm-tabs-border: #fff;
}

.tabs--tabs-only {
  @apply mb-0;
}

.tabs--tabs-only .tabs__item:hover {
  color: inherit;
}

.tabs--tabs-only + .margin-top--md {
  @apply hidden;
}

.tabs--content-only {
  @apply mb-0 border-0;
}

.tabs--content-only > li {
  @apply hidden;
}

.tabs--tabs-only .tabs__item {
  @apply rounded-none px-4 py-2 -ml-px font-normal;

  border: 1px solid var(--ifm-tabs-border);
}

.tabs--tabs-only .tabs__item:first-of-type {
  @apply -ml-0 rounded-l;
}

.tabs--tabs-only .tabs__item:last-of-type {
  @apply -ml-0 rounded-r;
}

.tabs--tabs-only .tabs__item:hover {
  @apply bg-gray-900/5;
}

.tabs--tabs-only .tabs__item--active,
.tabs--tabs-only .tabs__item--active:hover {
  background-color: var(--ifm-tabs-bg-active);
  border: 1px solid var(--ifm-tabs-bg-active);
  color: var(--ifm-tabs-color-active);
}

/* Details */

.details {
  border: 0 !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
  padding: 1rem 0 !important;
  margin: 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  background-color: transparent !important;
  color: inherit;
}

[data-theme="dark"] .details {
  border-bottom-color: rgba(255, 255, 255, 0.2) !important;
}

.details > summary {
  padding-left: 0 !important;
  padding-right: 2rem !important;
}

.details > summary::before,
.details > summary::after {
  content: "";
  left: auto !important;
  border: 0 !important;
  top: calc(50% - 2px) !important;
  background: currentColor !important;

  @apply transition-transform w-[1rem] h-[2px] absolute right-0 block;
}

.details > summary::after {
  @apply rotate-90 origin-center;
}

.details[open] > summary::after {
  @apply rotate-0;
}

.details[open] > summary::before {
  transform: none !important;
}

.details ul li a {
  @apply text-current no-underline border-0;
}

[class^="collapsibleContent"] {
  border: 0 !important;
  padding: 1rem 0 !important;
  margin: 0 !important;
  border: 0 !important;
}

.theme-api-markdown code {
  max-height: none !important;
}

.theme-doc-version-badge {
  @apply font-serif font-semibold bg-secondary text-gray-900 dark:text-gray-900 px-3 py-2 rounded-full uppercase text-xs border-0;
  margin-left: -2px;
  margin-bottom: 1rem;
}

/* // Version Dropdown */
.dropdown-version {
  @apply flex items-center gap-2 px-2 sm:px-4 py-2 sm:pt-6 pb-6 sm:pb-2 relative;
}

.dropdown-version .navbar__item--version {
  border-radius: var(--ifm-global-radius);
  background: var(--ifm-color-secondary);
  border: 0;
  font-size: 0.75rem;
}

.dropdown-version .dropdown__menu {
  @apply min-w-0 w-full;
}

.dropdown-version .dropdown__link {
  font-size: 0.75rem;
  text-align: center;
}

html[data-theme="dark"] .dropdown-version .navbar__item--version > *,
html[data-theme="dark"] .dropdown-version .navbar__item--version:before {
  color: #000;
}

.dropdown-version .navbar__item--version::before {
  content: "Version ";
  color: var(--ifm-font-color-base);
}

/* Sidebar */

.theme-doc-sidebar-menu > li {
  @apply sm:py-4;
}

.theme-doc-sidebar-menu > li + li {
  @apply border-t border-b-0 border-l-0 border-r-0 border-solid border-gray-200  dark:border-gray-700;
}

.container {
  max-width: var(--ifm-container-width);
}

/* hotjar */
[class^="_hj-"] {
  font-family: inherit;
}
[class^="_hj-"] [class$="__inlineSurvey"] {
  padding: 0 !important;
  margin-top: 1rem !important;
}
[class^="_hj-"] [aria-label="Survey"] > div {
  min-width: 0 !important;
  max-width: 100% !important;
  width: 100% !important;
}

/* TOC Column */
.toc-column {
  @apply overflow-hidden hover:overflow-y-auto overflow-x-hidden sticky;
  max-height: calc(100vh - (var(--ifm-navbar-height) + 2rem));
  top: calc(var(--ifm-navbar-height) + 1rem);
  scrollbar-gutter: stable;
  scrollbar-width: thin;
}

.toc-column::-webkit-scrollbar-track {
  background: transparent;
}

/* edit this page */
.theme-edit-this-page {
  @apply flex items-center gap-2 ml-px;

  font-size: smaller;
}

/* hash link */
.hash-link::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='size-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244' /%3E%3C/svg%3E%0A") !important;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  opacity: 0.5;
}
.hash-link:hover::before {
  opacity: 1;
}

/* doc search */
.DocSearch-Button {
  border-radius: var(--ifm-global-radius) !important;
}

/* nav item search fix padding */
.navbar__items--right > :last-child {
  margin-left: 0.5rem;
}

@tailwind utilities;
