name: Deploy to GitHub Pages

on:
  push:
    branches:
      - Staging
  workflow_dispatch:

permissions:
  pages: write
  id-token: write
  contents: write

jobs:
  build:
    name: Build and upload artifact
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ./docs
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Clone submodules
        run: |
          git submodule init
          git submodule update --init --recursive
      - name: Install dependencies
        run: yarn
      - name: Build website
        run: yarn build
      - name: Setup Pages
        uses: actions/configure-pages@v4
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: build

  deploy:
    name: Deploy to GitHub Pages
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4